{{#if profile.following}}
<div class="avatar">
    <a href="/viewuser/{{profile.userId}}">
        {{#if profile.avatar}}
        <img src="{{profile.avatar}}">
        {{else}}
        <img src="/images/user-avatar.png">
        {{/if}}
    </a>
</div>
<div class="follower mr-2">
    <span>{{profile.name}}</span>
</div>
{{/if}}
