<div class="avatar">
                <a href="https://placeholder.com">
                    <img src="http://via.placeholder.com/100x100">
                </a>
            </div>
<div class="post-author mr-2">Posted by: <span>{{this.User.name}}</span></div>