<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PTSDNet</title>
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    {{!-- <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title"> --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
<link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css" />
    <style>
        blockquote {
            border-left: 5px solid #eee;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>