<link rel="stylesheet" href="../css/home.css" media="screen" title="no title">
<div id="home">
    {{nav/navbar-home}}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>PTSD &mdash; You're Not Alone</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">PTSDNet is an online community dedicated to Veterans talking about living with PTSD and how treatment helped turn their lives around. Here Vets learn about PTSD, explore treatment options and, most importantly, hear stories from other Vets who have faced PTSD and regained control of their lives. Join us today.</p>
                    <a class="btn btn-primary btn-xl" href="/login">Login</a>
                    <a class="btn btn-primary btn-xl" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Large modal -->
<a type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</a>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

</div>