<link rel="stylesheet" href="../css/home.css" media="screen" title="no title">
<div id="home">
    {{nav/navbar-home}}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Lorem Ipsum Dolor Sit Amet Dolor Sit Amet</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">Lorem ipsum dolor sit amet alkj safdlkj asdflkj alsdfkj kdsfjiworjwer slkdfj sdlksdflkj adlfkj aldfkj
                        fdalkj lasdfkq ekw qlek q.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Login</a>
                    <a class="btn btn-primary btn-xl" href="#about">Sign Up</a>
                </div>
            </div>
        </div>
    </header>
</div>