   <link rel="stylesheet" href="../css/home.css" media="screen" title="no title">
<div id="home">
  {{nav/navbar-home}}

  <div class="container">
    <div class="row forms">
      <div class="col-lg-5 col-sm-12 logbox">
        <div class="card d-flex align-self-center">
          <article class="card-body">
            <a href="/signup" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <form class="signup">
                        <div class="form-group">
            <label for="nameInput">Name: </label>
            <input type="text" class="form-control" id="name-input" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
              <!-- form-group// -->
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span class="msg"></span>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> I agree to the
                    <a href="#">terms of service</a> </label>
                </div>
                <!-- checkbox .// -->
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block log-submit"> Sign Up </button>
              </div>
              <!-- form-group// -->
            </form>
          </article>
        </div>
        <!-- card.// -->
      </div>
      <div class="col-lg-7 col-sm-12 herocontent"><h2>Pretty marketing copy will go in here</h2><p>Blah blah blah</p></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/signup.js"></script>