/* Global Styles
******************************************************************/

/* Colors:

- Red: 500D0D rgba(80,13,13,1)
- Blue: 364650 rgba(54,70,80,1)
- Beige: C49B74 rgba(196,155,116,1)

*/
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8em;
  color: rgba(54, 70, 80, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

blockquote {
  border-left: 5px solid #eee;
}

a {
  color: rgba(54, 70, 80, 1);
}

.container-fluid {
 /* padding-left: 0;*/
  height: 100%;
  min-height: 100vh;
}

/* Profile Styles
******************************************************************/

nav .breadcrumb {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.75rem 0;
}

nav .breadcrumb a {
  font-weight: 500;
}

/* Sidebar
******************************************************************/

#sidebar {
  background: url("../images/bkgd-sidebar.jpg") no-repeat; 
  background-size: auto;
  
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}
#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.events a::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

/* Thread List Styles
******************************************************************/

.category-name {
  display: block;
  border-radius: 6px;
  background-color: rgba(196, 155, 116, 0.25);
  padding: 0.25em 0.75em;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Post Styles
******************************************************************/

.thread-details {
  border-bottom: 1px solid rgba(54, 70, 80, 0.25);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.thread-details .details-top {
  padding-top: 5px;
}

.avatar img {
  border-radius: 50%;
  border: 3px solid #e8e5db;
}

.post-title h2 {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0.3em;
  padding-top: 0.3rem;
}

.post-author {
  color: rgba(80, 13, 13, 1);
}

.post-author span {
  font-weight: 700;
}

.details-middle {
  font-size: 0.75rem;
}

.post-content {
  margin-bottom: 30px;
  font-size: 0.9rem;
}

div.thread-details:nth-child(1) .post-title h2 {
  font-size: 1.8em;
}


/* Navbar Styles
******************************************************************/

.navbar input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

#navbartop2 img { width: 44px; height: 44px; border-radius: 50%; border: 2px solid rgba(196,155,116,0.5); }

#logo{
    width: 60px;
    height: 58px;
}

.bkgd a{
    color: #ffffff;
}

/* #sidebar ul{
    border-top: rgba(196, 155, 116, 0.5);

} */

/* #sidebar h2{
    border-bottom: 1px solid rgba(196, 155, 116, 0.5);
}

#sidebar {
    background: black;
    
}

#sidebar li{
    border-bottom: 1px solid rgba(196, 155, 116, 0.5);
    list-style: none;
    padding: 15px 30px;

}

#sidebar ul{
    padding-left :0;
}



#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
} */

#main {
    /* padding: 15px;
    padding-top: 0px; */
    left: 0;
}

#navbartop2 {
    padding: 0px;
    border-bottom: 1px solid rgba(196,155,116,1);

}
.topnav {
    margin-left: -15px;
    margin-right: -15px;
}

nav{
    height: 70px;
}

.bkgd {
    text-align: center;
}



.search{
    border-right: 1px solid rgba(196,155,116,1)k;
    border-left: 1px solid rgba(196,155,116,1);
    height: 100%;
}
