<div class="d-flex align-self-stretch h-100 flex-column">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" id="logo" width="30" height="30" alt="">
        <span class="collapse in hidden-xs">PTSDNet</span>
    </a>
    <h2>
        <i class='far fa-list-alt'></i>
        <span class="collapse in hidden-xs">Category</span>
    </h2>
    <ul class="list-unstyled components flex-column flex-nowrap">

        <li class="active">
            <a href="#forumSubmenu" data-toggle="collapse" aria-expanded="false">
                Forum
            </a>
            {{#if categories}}
            <ul class="collapse list-unstyled" id="forumSubmenu">
                {{#each categories}}
                <li>
                    <a class="d-flex justify-content-around" href="/viewcategory/{{this.categoryId}}">{{this.categoryName}}
                        </a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>

        <li class="nav-item active events">
            <a class="nav-link" href="#">Events
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Assessment
                
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Profile
            </a>
        </li>
    </ul>

</div>