<div class="sidebar-header">
    <h3>
        <img src="/images/logo.png" id="logo" width="30" height="30" alt="">PTSDNet</h3>
    <strong><img src="/images/logo.png" id="logo" width="30" height="30" alt=""></strong>

</div>

<ul class="list-unstyled CTAs" style="
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
">
    <li>
        <a href="#" class="myevents"><i class='far fa-list-alt'></i>Category</a>
    </li>
</ul>


<ul class="list-unstyled components" style="padding-top: 0px;"
>
    <li>
    
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class='far fa-list-alt'></i>
            FORUM
        </a>
        {{#if categories}}
        <ul class="collapse list-unstyled" id="homeSubmenu">

            {{#each categories}}
            <li>

                <a href="/viewcategory/{{this.categoryId}}">{{this.categoryName}}
                    <i class="fas fa-greater-than"></i>
                </a>
            </li>
            {{/each}}
        </ul>
        {{/if}}

    </li>
    <li>
        <a href="#">
            <i class="fas fa-calendar-alt"></i>
            EVENT
        </a>


    </li>
    <li>
        <a href="#">
            <i class="fas fa-pencil-alt"></i>
            ASSESSMENT
        </a>
    </li>
    <li>
        <a href="#">
            <i class="far fa-user"></i>
            PROFILE
        </a>
    </li>

</ul>

<ul class="list-unstyled CTAs">
    <li>
        <a href="#" class="myevents"><i class="fas fa-calendar-alt"></i>My Events</a>
    </li>
    
</ul>





                

                
    