<div class="d-flex align-self-stretch h-100">
    
    {{#if categories}}
    <ul class="cat_list">
        {{#each categories}}
        <li><a href="/viewcategory/{{this.categoryId}}">{{this.categoryName}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>