<nav class="d-flex justify-content-center" id="navbartop2">
    <div class="toggler d-flex align-self-center">

        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn d-flex align-item-stretch">
        <i class="fas fa-bars d-flex align-self-center"></i>
        </button>

    </div>

    <div class="input-group search align-self-center">
        <form id="search-form" action="/viewsearch" method="GET">
            <input class="form-control border-0" type="search" placeholder="Search" name="q" id="search-input">
        </form>
    </div>

    <div id="hits"></div>

    <div class="d-flex justify-content-end ml-auto align-items-stretch profile-window">
        {{#if user}}
        <a class="d-flex justify-content-end mr-2 align-self-center" href="/viewuser/{{user.userId}}">
            <img class="d-flex align-self-center" src="{{user.avatar}}" alt="{{user.name}}" /> <div class="d-flex align-self-center">{{user.name}}</div>
        </a>
        {{/if}}
        <a class="d-flex align-self-center" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

</nav>