<nav>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="input-group col-md-4 search">
    <span class="input-group-append">
        <button class="btn border-0 " type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
    <input class="form-control py-2 border-0" type="search" value="search" id="example-search-input">

</div>

{{#if user}} User:
<a href="/viewuser/{{user.userId}}">{{user.name}}</a>
<br/> {{/if}}
<a href="/logout">
    <i class="fas fa-sign-out-alt"></i>
</a>
</nav>