<nav class="d-flex justify-content-center my-auto" id="navbartop2">
    <div class="toggler align-self-center">
        
            <a href="#" data-toggle="offcanvas">
                <i class="fas fa-bars"></i>
            </a>
        
        {{!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
    </div>

    <div class="input-group col-md-8 search align-self-center">
        <span class="input-group-append">
            <button class="btn border-0 " type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <input class="form-control border-0" type="search" value="search" id="example-search-input">

    </div>
    <div class="ml-auto align-self-center">
        {{#if user}}
        <a href="/viewuser/{{user.userId}}">
<img src="{{user.avatar}}" alt="{{user.name}}"/>
        {{user.name}}</a>
        {{/if}}
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

</nav>

<script>    
        $('[data-toggle=offcanvas]').click(function () {
        $('.row-offcanvas').toggleClass('active');
        $('.collapse').toggleClass('in').toggleClass('hidden-xs').toggleClass('visible-xs');
        });
</script>